# WordPressのデータベース設定
wordpress_db_name:
wordpress_db_user:
wordpress_db_password:
mysql_root_password:

# WordPressのサーバー設定
wordpress_server_name:

# WordPressセキュリティキー（これらは例です。実際には独自の値を生成してください）
wordpress_auth_key:
wordpress_secure_auth_key:
wordpress_logged_in_key:
wordpress_nonce_key:
wordpress_auth_salt:
wordpress_secure_auth_salt:
wordpress_logged_in_salt:
wordpress_nonce_salt:
